

.HomePageContainer {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.HomePageContainer__OctoCat {
    width: 30%;
}

.HomePageContainer__Background {
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.9;
}

.HomePageContainer__search-container {
    width: 30vw;
}

#input-container {
    position: absolute;
    width: 30vw;
    top: 100px;
}



